html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*
header {
    position: relative;
    margin: 30px 0;

    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 0.18em;
        text-transform: uppercase;
    }
}*/

body {
    background: #eee;
}

.header-container {
    .header-content {
        height: 120px;

        h1 {
            line-height: 120px;
            text-align: center;
            font-weight: 400;
            font-size: 50px;
            
            letter-spacing: 0.18em;
            text-transform: uppercase;
        }
    }
}

.keys {
    display: flex;
    flex: 1;
    margin: 0 10%;
    height: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
    
}


.key {
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 200px;
    text-align: center;
    color: black;
    background: white;
    height: 20em;
    margin: 0 5px;
    &::before {
        /*
        content: '';
        position:absolute;
        width: 100%;
        height: 60%;
        left: 0;
        background-image: url(../../waves.svg);
        background-repeat: no-repeat;*/

        content: '';
        position: relative;;

        background-color: #0099ff;
        width: 100%;
        height: 60px;
    }
}

.desc {
    user-select: none;
    position: relative;
    display: block;
    width: 100%;
    top: 90%;
    font-size: 20px;
    letter-spacing: 0.18em;

    .sound {
        font-size: 12px;
        text-transform: uppercase;
    }
}

.playing {
    border-color: #0099ff;
    box-shadow: 0 0 1rem #0099ff;
}
